<!-- CONTANT STR -->
<div class="bg">
    <img src="../../assets/image/images/slid2.png" alt="">
</div>
<div class="line">
    <span> Browse Categories </span>
    <div></div>
</div>

<div class="cart-main">
    <div class="cart1">
        <img src="../../assets/image/images/cart1.png" alt="">
        <p>Everyday Value</p>
    </div>
    <div class="cart1">
        <img src="../../assets/image/images/cart2.png" alt="">
        <p>Ala Carte & Combos</p>
    </div>
    <div class="cart1">
        <img src="../../assets/image/images/cart3.png" alt="">
        <p>Signature Boxes</p>
    </div>
    <div class="cart1">
        <img src="../../assets/image/images/cart4.png" alt="">
        <p>Sharing</p>
    </div>
    <div class="cart1">
        <img src="../../assets/image/images/cart5.png" alt="">
        <p>Snacks & Beverages</p>
    </div>
    <div class="cart1">
        <img src="../../assets/image/images/cart6.png" alt="">
        <p>Midnight</p>
    </div>
</div>

<div class="line1">
    <span> Top Selling </span>
    <div></div>
</div>

<div class="main">
    <div class="cart">
        <img src="../../assets/image/images/cart1.png" alt="">
        <span>Xtreme Duo Box</span>
        <p>The irresistible combo of 2 signature Zingers + 2 pcs Hot & Crispy Chicken + 1 large fries + 2 drinks</p>
        <div class="btn">
            <span>Rs:220</span>
            <button>Add to bucket</button>
        </div>
    </div>

    <div class="cart">
        <img src="../../assets/image/images/cart2.png" alt="">
        <span>Xtreme Duo Box</span>
        <p>The irresistible combo of 2 signature Zingers + 2 pcs Hot & Crispy Chicken + 1 large fries + 2 drinks</p>
        <div class="btn">
            <span>Rs:220</span>
            <button>Add to bucket</button>
        </div>
    </div>

    <div class="cart">
        <img src="../../assets/image/images/cart3.png" alt="">
        <span>Xtreme Duo Box</span>
        <p>The irresistible combo of 2 signature Zingers + 2 pcs Hot & Crispy Chicken + 1 large fries + 2 drinks</p>
        <div class="btn">
            <span>Rs:220</span>
            <button>Add to bucket</button>
        </div>
    </div>

    <div class="cart">
        <img src="../../assets/image/images/cart4.png" alt="">
        <span>Xtreme Duo Box</span>
        <p>The irresistible combo of 2 signature Zingers + 2 pcs Hot & Crispy Chicken + 1 large fries + 2 drinks</p>
        <div class="btn">
            <span>Rs:220</span>
            <button>Add to bucket</button>
        </div>
    </div>
</div>