<footer>
    <div class="foo">
        <img src="../../assets/image/images/KFC-Logo-Red (1).png" alt="">
        <div class="line"></div>
        <div>
            <p>Find Us On</p>
            <!-- <i class="fa fa-youtube-play" aria-hidden="true"></i>
            <i class="fa fa-facebook-square" aria-hidden="true"></i>
            <i class="fa fa-instagram" aria-hidden="true"></i> -->
        </div>
    </div>
        <ul class="foo-cont">
            <ol>
                <h1>Information</h1>
                <a href="#">About Us</a>
                <a href="#">Mitao Bhook</a>
                <a href="#">Privacy Policy</a>
                <a href="#">Careers</a>
            </ol>
            <ol>
                <h1>Location</h1>
                <a href="#">Contact Us</a>
            </ol>
            <ol>
                <h1>Get In Touch</h1>
                <a href="#">Terms & Condition</a>
            </ol>
            <ol>
                <img src="../../assets/image/images/app-store.png" alt="">
                <img src="../../assets/image/images/google-store.png" alt="">
            </ol>
        </ul>
</footer>